*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root{
  --main-color: #603F26;
  --sec-color: #9f673c;
  --third-color: #fff5ee;
  --fourth-color: #ffe7cf;
  --main-transition: 0.3s;
  --mainPadding: 100px;
  --lineHeight: 1.6;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
/* mobile */
@media (max-width: 450px){
  .container{
    width: 370px;
  }
}
/* Small */
@media (min-width: 768px){
  .container{
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px){
  .container{
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px){
  .container{
    width: 1170px;
  }
}
/* start header */
.header{
  /* position: relative; */
  box-shadow: 0 0 5px #ddd;
}
.header .container{
  max-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 999;
}
.header .container .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header .container .logo img{
  width: 40px;
  height: 40px;
}
.header .container .logo h1{
  font-size: 26px;
  color: var(--main-color);
}
.header .container .logo h1 span{
  color: var(--sec-color);
}
.header .container .nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: var(--main-transition);
}
.header .container .nav-links a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: var(--main-color);
  padding: 0 10px;
  overflow: hidden;
  position: relative;  
  transition: var(--main-transition);
}
.header .container .nav-links a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--sec-color);
  bottom: 1px;
  left: -100%;
  transition: var(--main-transition);
}
.header .container .nav-links a:hover{
  color: var(--sec-color);
}
.header .container .nav-links a:hover:before{
  left: 0;
}
.header .container .nav-links .user-icon{
  height: 65px;
  background-color: var(--main-color);
  top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
}
.header .container .nav-links .user-icon:hover{
  color: var(--sec-color);
}
.header .container .toggle-menu{
  color: var(--main-color);
  position: absolute;
  right: 10px;
  transition: var(--main-transition);
  font-size: 24px;
}
@media (min-width: 992px){
  header .container .toggle-menu{
    display: none;
  }
}
@media (max-width: 992px){
  .header .container{
    text-align: center;
    justify-content: center;
  }
  .header .container .logo img{
    width: 35px;
    height: 35px;
  }
  .header .container .logo h1{
    font-size: 24px;
  }
  .header .container .nav-links{
    display: none;
  }
  .header .container .nav-links.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100px;
    min-width: 100px;
    background-color: #ffffffe0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    gap: 0;
    box-shadow: 1px 1px 5px #00000026;
  }
  .header .container .nav-links li{
    width: 100%;
  }
  .header .container .nav-links li:hover{
    background-color: var(--third-color);
  }
  .header .container .nav-links li:not(:last-child){
    border-bottom: 1px solid var(--fourth-color);
  }
  .header .container .nav-links a{
    max-height: fit-content;
    padding: 10px;
  }
  .header .container .nav-links a::before{
    display: none;
  }
  .header .container .nav-links .user-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--main-color);
    padding: 10px;
    overflow: hidden;
    position: relative;  
    transition: var(--main-transition);
    background-color: transparent;
  }
  .header .container .nav-links .user-icon:hover{
    color: var(--sec-color);
  }
}
/* end header */
/* start home */
.home{
  position: relative;
  background-color: var(--third-color);
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
}
.home .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px , 1fr));
  gap: 60px;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.home .container .text-info h1{
  color: var(--main-color);
  font-size: 36px;
}
.home .container .text-info h1 span{
  color: var(--sec-color);
}
.home .container .text-info p{
  color: var(--main-color);
  line-height: var(--lineHeight);
  margin: 10px 0 20px;
}
.home .container .text-info .main-btn{
  padding: 5px 15px ;
  border-radius: 20px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: var(--main-transition);
}
.home .container .text-info .main-btn:hover {
  color: #fff;
  background: var(--main-color);
  border-color: transparent;
}
.home .container img{
  position: relative;
  width: 500px;
  max-width: 100%;
  animation: up-down 5s linear infinite;
}

@media (max-width: 992px){
  .home .container{
    justify-content: center;
    align-content: space-between;
    text-align: center;
  }
  .home .container .text-info h1{
    font-size: 32px;
  }
  .home .container .text-info p{
    font-size: 18px;
  }
  .home .container .text-info .main-btn{
    padding: 5px 10px ;
    font-size: 16px;
  }
  .home .container img{
    position: relative;
    width: 400px;
    max-width: 100%;
    animation: up-down 5s linear infinite;
  }
}
@media (max-width: 768px){
  .home .container .text-info h1{
    font-size: 28px;
  }
  .home .container .text-info p{
    font-size: 16px;
  }
  .home .container .text-info .main-btn{
    padding: 5px 10px ;
    font-size: 14px;
  }
  .home .container img{
    position: relative;
    width: 300px;
    max-width: 100%;
    animation: up-down 5s linear infinite;
  }
}

@keyframes up-down{
  0%, 100%{
    top: 0;
  }
  50%{
    top: -20px;
  }
}
/* end home */
/* start products */
.main-title{
  position: relative;
  margin: 0 auto 80px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  width: fit-content;
  padding: 0px 20px;
  z-index: 1;
  color: var(--main-color);
  transition: var(--main-transition);
}
.main-title::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 70%;
  background-color: var(--third-color);
  bottom: 0;
  left: 0;
  z-index: -1;
}
.products{
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  position: relative;
}
.products .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.products .box{
  border-radius: 0px;
  overflow: hidden;
  background: #fff;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}
.products .box:hover{
  transform: scale(1.02);
}
.products .box img{
  max-width: 100%;
  border-bottom: 1px solid var(--fourth-color);
}
.products .box .content{
  padding: 20px;
  height: 150px;
}
.products .box .content h3{
  font-size: 20px;
  color: var(--main-color);
}
.products .box .content p{
  margin: 10px 0 0 ;
  line-height: var(--lineHeight);
  font-size: 14px;
  color: var(--main-color);
}
.products .box .info{
  padding: 10px 20px;
  border-top: 1px solid var(--fourth-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .box .info .price{
  color: var(--sec-color);
  font-weight: bold;
}
.products .box .info .buy{
  color: #fff;
  background-color: var(--sec-color);
  padding: 5px 10px;
  border-radius: 5px;
  transition: var(--main-transition);
}
.products .box .info .buy:hover{
  background-color: var(--main-color)
}
/* end products */
/* start about */
.about{
  position: relative;
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background-color: var(--third-color);
  min-height: 100vh;
}
.about .main-title::before{
  background-color: #fff;
}
.about .container{
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.about .container img{
  width: 500px;
  max-width: 100%;
  animation: up-down 5s linear infinite;
  position: relative;
}
.about .container .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 15px;
}
.about .container .info h2{
  color: var(--main-color);
}
.about .container .info p{
  margin: 0;
  line-height: var(--lineHeight);
  font-size: 16px;
  color: var(--main-color);
}
@media (max-width: 992px){
  .about .container{
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
  .about .container img{
    width: 400px;
  }
}
@media (max-width: 768px){
  .about .container img{
    width: 300px;
  }
}
/* end about */
/* start gallery */
.gallery{
  position: relative;
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background-image: url(/images/wall.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 40px;
}
.gallery .container .info{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.gallery .container .info h2{
  font-size: 45px;
  columns: var(--main-color);
}
.gallery .container .info h2 span{
  color: var(--sec-color);
}
.gallery .container .info p{
  margin: 0;
  line-height: var(--lineHeight);
  color: var(--main-color);
  font-weight: 600;
}
.gallery .container .images{
  display: grid;
  grid-template-columns: repeat(2,200px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 40px;
}
.gallery .container .images img{
  width: 200px;
  border-radius: 10px;
  position: relative;
  border-bottom: 5px solid var(--sec-color);
  transition: var(--main-transition);
}
.gallery .container .images img:nth-child(1){
  margin-bottom: 20px;
}
.gallery .container .images img:nth-child(2){
  margin-bottom: -20px;
}
.gallery .container .images img:nth-child(3){
  margin-bottom: 20px;
}
.gallery .container .images img:nth-child(4){
  margin-bottom: -20px;
}
.gallery .container .images img:hover{
  transform: scale(1.05);
}
@media (max-width: 992px){
  .gallery .container{
    justify-content: center;
}
  .gallery .container .info{
    text-align: center;
  }
  .gallery .container .info h2{
    font-size: 40px;
  }
  .gallery .container .images{
    gap: 20px;
  }
}
@media (max-width: 768px){
  .gallery .container{
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 20px;
  }
  .gallery .container .info h2{
    font-size: 30px;
  }
  .gallery .container .info p{
    font-size: 16px;
  }
  .gallery .container .images{
    grid-template-columns: repeat(2,150px);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
  }
  .gallery .container .images img{
    width: 150px;
    border-radius: 10px;
    border-bottom: 3px solid var(--sec-color);
  }
}
/* end gallery */
/* start deals */
.deals{
  position: relative;
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background-color: var(--fourth-color);
}
.deals .container{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 40px;
}
.deals .container img{
  width: 500px;
  max-width: 100%;
}
.deals .container .info{
  display: grid;
  grid-template-columns: repeat(auto, minmax(400px,1fr));
  justify-content: center;
  gap: 20px;
  align-items: center;
  align-content: center;
}
.deals .container .info h3{
  font-size: 32px;
  color: var(--main-color);
}
.deals .container .info h3 span{
  color: var(--sec-color);
}
.deals .container .info p{
  margin: 0;
  color: var(--main-color);
  line-height: var(--lineHeight);
  font-size: 16px;
}
.deals .container .info .icons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 50px;
}
.deals .container .info .icons i{
  font-size: 22px;
}
.deals .container .info .icons p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--third-color);
  position: relative;
  margin-bottom: 20px;
  transition: var(--main-transition);
}
.deals .container .info .icons p:hover{
  background-color: var(--sec-color);  
  color: #fff;
}
.deals .container .info .icons p::before{
  width: 200%;
  height: 100%;
  position: absolute;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50px;
  font-size: 12px;
  font-weight: bold;
}

.deals .container .info .icons p:nth-child(1)::before{
  content: "free shopping";
}
.deals .container .info .icons p:nth-child(2)::before{
  content: "more for less";
}
.deals .container .info .icons p:nth-child(3)::before{
  content: "Limited Time";
}
.deals .container .info .icons p:nth-child(4)::before{
  content: "guaranteed";
}
.deals .container .info .buy{
  color: #fff;
  background-color: var(--main-color);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin-top: 10px;
  transition: var(--main-transition);
  max-width: fit-content;
}
.deals .container .info .buy:hover{
  background-color: var(--sec-color)
}
@media (max-width: 992px){
  .deals .container{
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
  }
  .deals .container img{
    width: 400px;
  }
  .deals .container .info{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .deals .container .info h3{
    font-size: 28px;
  }
  .deals .container .info .icons{
    justify-content: center;
  }  
  .deals .container .info .buy{
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px){
  .deals .container img{
    max-width: 300px;
  }
  .deals .container .info h3{
    max-width: 300px;
    font-size: 24px;
  }
  .deals .container .info p{
    font-size: 14px;
    max-width: 300px;
  }
  .deals .container .info .icons{
    justify-content: center;
    max-width: 300px;
  }  
  .deals .container .info .icons i{
    font-size: 16px;
  }
  .deals .container .info .icons p{
    width: 30px;
    height: 30px;
    line-height: 1.2;
  }
  .deals .container .info .icons p::before{
    align-items: center;
    bottom: -40px;
    font-size: 10px;
  }
  .deals .container .info .buy{
    margin-top: 20px;
  }
}
/* end deals */
/* start contact */
.contact{
  position: relative;
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
}
.contact .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.contact .container img{
  width: 500px;
  max-width: 100%;
  position: relative;
  animation: up-down 5s linear infinite;
}
.contact .container .form{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr );
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 15px;
}
.contact .container .form input,
.contact .container .form textarea{
  background-color: #fffaf6;
  border: none;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  color: var(--sec-color);
  resize: none;
  caret-color: var(--sec-color);
  transition: var(--main-transition);
}
.contact .container .form input:focus,
.contact .container .form textarea:focus{
  outline: none;
  background-color: var(--third-color);
}
.contact .container .form input::placeholder,
.contact .container .form textarea::placeholder{
  color: var(--sec-color);
}
.contact .container .form button{
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--sec-color);
  color: #fff;  
  transition: var(--main-transition);
}
.contact .container .form button:hover{
  background-color: var(--main-color);
}
@media (max-width: 992px) {
  .contact .container{
    justify-content: center;
  }
  .contact .container img{
    display: none;
  }
  .contact .container .form{
    padding: 20px;
  }
}
/* end contact */
/* start join */
.join{
  position: relative;
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background-color: var(--third-color);
}
.join .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 40px;
}
.join .container .info{
  max-width: 400px;
}
.join .container .info h2{
  font-size: 32px;
  color: var(--main-color);
}
.join .container .info h2 span{
  color: var(--sec-color);
}
.join .container .info p{
  font-size: 16px;
  color: var(--main-color);
  line-height: var(--lineHeight);
}
.join .container .form{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
.join .container .form input{
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: var(--sec-color);
  caret-color: var(--sec-color);
  width: 250px;
  transition: var(--main-transition);
}
.join .container .form input:focus{
  outline: none;
}
.join .container .form input::placeholder{
  color: var(--sec-color);
}
.join .container .form button{
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--sec-color);
  color: #fff;  
  transition: var(--main-transition);
}
.join .container .form button:hover{
  background-color: var(--main-color);
}
@media (max-width: 992px) {
  .join .container{
    justify-content: center;
    gap: 20px;
  }
  .join .container .info{
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .join .container .info{
    max-width: 300px;
  }
  .join .container .info h2{
    font-size: 28px;
  }
  .join .container .info p{
    font-size: 14px;
  }
}
/* end join */
/* start footer */
.footer{
  position: relative;
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background-color: #3f2a1a;
  color: var(--third-color);
  line-height: var(--lineHeight);
}
.footer .container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-content: center;
}
.footer .container > p{
  margin: auto;
}
.footer .container > p span{
  color: var(--sec-color);
}
.footer .container .footer-info{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}
.footer .container .info{
  max-width: 400px;
}
.footer .container .info,
.footer .container .col-1,
.footer .container .col-2,
.footer .container .col-3{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-content: center;
}
.footer .container .info h1{
  color: var(--sec-color);
  margin: 0;
  font-size: 26px;
}
.footer .container .info h1 span{
  color: var(--third-color);
}
.footer .container .info p{
  font-size: 14px;
  margin: 0;
}
.footer .container .info .social-media{
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.footer .container .info .social-media a{
  color: var(--fourth-color);
  font-size: 20px;
}
.footer .container .info .social-media a:hover{
  color: #fff;
}
.footer .container .col-1 h2,
.footer .container .col-2 h2,
.footer .container .col-3 h2{
  font-size: 20px;
}
.footer .container .col-1 ul li,
.footer .container .col-2 ul li,
.footer .container .col-3 ul li{
  font-size: 14px;
}
.footer .container .copy-right{
  margin: auto;
}
@media (max-width: 500px){
  .footer .container{
    text-align: center;
  }
  .footer .container .footer-info{
    gap: 0px;
    justify-content: center;
  }
  .footer .container .info{
    max-width: 300px;
  }
  .footer .container .col-1,
  .footer .container .col-2,
  .footer .container .col-3{
    display: none;
  }
  .footer .container .info h1{
    font-size: 22px;
  }
  .footer .container .info .social-media{
    justify-content: center;
  }
}
/* end footer */